[package]
name = "core_raft"
version = "0.1.0"
edition = "2024"

[dependencies]
#openraft = { version = "0.9.21", features = ["type-alias"] }
openraft = { git = "https://github.com/databendlabs/openraft", tag = "v0.10.0-alpha.13", features = ["type-alias"] }
futures = "0.3.31"
tracing = "0.1.44"
serde = "1.0.149"
serde_json = "1.0.149"
reqwest = "0.13.1"
tokio = "1.49.0"